
body {
    font-family: sans-serif;
    padding: 0; 
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.сhange-color-btn{
    position: absolute;
    top: 9px;
    left: 35px;
    color: white;
    background-color:lightslategrey;
    border: none;
    border-radius: 3px;
    width: 192px;
    height: 51px;
    cursor: pointer;
    outline: none;
}

.change-li{
    position: absolute;
    top: 9px;
    left: 238px;
    color: white;
    background-color:lightslategrey;
    border: none;
    border-radius: 3px;
    width: 110px;
    height: 51px;
    cursor: pointer;
    outline: none;
}

.list-item-link {
    text-decoration: none;
    color: #16a085;
}

header{
    padding: 20px;
}

.list {
    
    list-style: none;
    text-align: center;
    margin: 5px 0px 5px 0px;
    
}

.list-item {
    display: inline-block;
    margin: 0px 45px 0px 45px;
    font-weight: bold; 
      
}

.headline {
    text-align: center;
    color:  #373737;
    font-size: 20px;
    font-weight: 700;
    background-color: #f5f6f7;
    margin: 0px;
    padding-top: 60px;
}

.main {
    text-align: center;
    background-color: #f5f6f7;    
}

.main-text {
    width: 1060px;
    margin: 0 auto;
}

.submit-btn {
    color: white;
    background-color:#16a085;
    border: none;
    border-radius: 3px;
    width: 192px;
    height: 51px;
    margin: 15px 0px 65px 0px;
    cursor: pointer;
}
footer {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    margin: 35px;
    padding: 0px 35px 0px 0px;
}
